<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
<module configVersion="1.0">
	
	<!-- Web Service Example Properties -->
	<id>webserviceexample</id>
	<name>Web Service Example</name>
	<version>0.1</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Ben Wolfe</author>
	<description>
		Adds a very basic web service at /ms/ws/example
	</description>
	<activator>@MODULE_PACKAGE@.WebServiceExampleActivator</activator>
	<!-- /Web Service Example Properties -->
	
	<!-- support for module servlet init() was added in 9142.  See ticket #1390 -->
	<require_version>1.6.0.9142</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.AdminList</class>
	</extension>
	<servlet>
		<servlet-name>ws</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSSpringServlet</servlet-class>
	</servlet>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>	
</module>
